@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import "tailwindcss";

@theme {
  /* Surface Colors */
  --color-primary: #118f5b;
  --color-secondary: #2d3436;
  --color-neutral: #f8f9fa;
  --color-accent: #f5a623;
  --color-danger: #da2727;
  --color-surface: #ffffff;

  /* High-Contrast Text Colors */
  --color-on-primary: #ffffff;
  --color-on-secondary: #f8f9fa;
  --color-on-neutral: #2d3436;
  --color-on-accent: #ffffff;
  --color-on-danger: #ffffff;
  --color-on-surface: #2d3436;

  /* Border Radius */
  --radius-card: 2rem;

  /* Default Font */
  --font-sans: "Impact", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  section {
    scroll-margin-top: 0rem; /* Adjust based on your layout */
  }
}